:root {
  --background-rgb: 39 39 39;

  --blue-rgb: 61 90 128;
  --primary-rgb: var(--blue-rgb);

  --blob-color-1: rgb(var(--blue-rgb));
  --blob-color-2: #5d7a9f;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  background-color: #272727;
  /* cursor:none; */
}

#landingPage {
  background-image: url("../media/focos-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1740px) {
  #landingPage {
    background-image: url("../media/focos-md-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 1260px) {
  #landingPage {
    background-image: url("../media/focos.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

header {
  margin: 0em;
  width: 100%;
  height: 8vh;
}

/* .cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 1.250em;
  height: 1.250em;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  
  to {
    background-position: 0% -100%;
  }
}

.cursor::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 1.250em;
  height: 1.250em;
  border-radius: 50%;
  box-shadow: 0 0 10px 10px var(--blob-color-1);
  animation: shadow 3s linear infinite;
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 10px 0 var(--blob-color-1);
  }
  100% {
    box-shadow: 0 0 30px 1.250em var(--blob-color-1);
  }
} */

.content {
  width: 100%;
  height: 80vmin;
  margin: 1em auto;
  font-size: 1.25em;
  line-height: 1.875em;
}

.logo {
  line-height: 3.75em;
  position: fixed;
  float: left;
  margin: 1em 2.875em;
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
  letter-spacing: 0.125em;
}

/* @media (max-width: 786) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 1em;
  }

  nav ul {
    max-height: 0em;
    background: #000;
    color: white;
  }

  nav.black ul {
    background: #000;
    color: white;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 1.5em;
    text-align: center;
  }

  .menu-icon {
    display: block;
    color: #fff8f0;
  }
} */

h1,
h2 {
  color: #fed766;
}

h5 {
  font-weight: bold;
}

.nav-tabs .nav-link.active {
  color: #3d5a80 !important;
}

h5.card-title {
  color: #fed766;
}

.navbar-dark .navbar-toggler {
  border-color: #fed766;
}

.content-contact label {
  color: #fed766;
}

.presentacio {
  width: 100%;
  height: 77vh;
  padding: 0.5rem 1rem 0 0;
}

.presentacio .title > h1 {
  font-family: "Karla", sans-serif;
  font-size: 10rem;
  margin: 20% 10% 20% 5%;
}

.imatges {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* SCROLLBAR */
body::-webkit-scrollbar-track {
  border-radius: 0.625em;
  background-color: #272727;
}

body::-webkit-scrollbar {
  width: 0.75em;
  background-color: #272727;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.625em;
  background-color: #fed766;
}

.contact {
  display: flex;
  flex-direction: column;
  font-family: "Karla", sans-serif;
}

.contact img {
  justify-self: center;
  height: 70vh;
}

i {
  font-size: 9rem;
  margin-top: -1rem;
}

#contact-container {
  width: 92%;
  height: 70vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: 0.5px solid #fed766;
  box-shadow: #fed766 0px 1px 0px, #fed766 0px 0px 8px;
}

#left-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.at {
  color: #fed766;
}

#right-container {
  width: 50%;
}

@media (max-width: 768px) {
  #contact-container {
    flex-direction: column;
  }

  #left-container {
    display: none;
  }

  #right-container {
    width: 80%;
  }
}

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

hr {
  color: #fff;
}

/* Footer */
#main-footer {
  height: 80px;
  padding-top: 20px;
}

#main-footer p {
  color: #fff;
  float: left;
}

#main-footer ul {
  float: right;
  list-style: none;
}

#main-footer ul li {
  float: left;
}

#main-footer ul li i {
  color: #3d5a80;
  font-size: smaller;
}

#main-footer ul li a {
  padding: 10px;
  text-align: center;
}

#main-footer ul li i:hover {
  color: #fed766;
}

.selectNav {
  color: #fed766;
  font-weight: bold;
}

@media only screen and (max-width: 992px) {
  .curtain, hr, .presentacio img {
    display: none;
  }

  #landingPage {
    background-image: none; /* Quitar la imagen de fondo en dispositivos móviles */
  }

  .presentacio .title > h1 {
    font-family: "Karla", sans-serif;
    font-size: 3rem;
  }

  /* .logo {
    margin: 1em 1em;
  } */
}

@media (max-width: 1439px) {
  .curtain, hr, .presentacio img {
    display: none;
  }

  #landingPage {
    background-image: none; /* Quitar la imagen de fondo en dispositivos móviles */
  }
}