:root {
  --background-rgb: 39 39 39;

  --blue-rgb: 61 90 128;
  --primary-rgb: var(--blue-rgb);

  --blob-color-1: rgb(var(--blue-rgb));
  --blob-color-2: #5d7a9f;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  background-color: #272727;
  /* cursor:none; */
}

#landingPage {
  background-image: url("../media/focos-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1740px) {
  #landingPage {
    background-image: url("../media/focos-md-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 1260px) {
  #landingPage {
    background-image: url("../media/focos.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

header {
  margin: 0px;
  width: 100%;
  height: 8vh;
}

/* .cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  
  to {
    background-position: 0% -100%;
  }
}

.cursor::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px 10px var(--blob-color-1);
  animation: shadow 3s linear infinite;
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 10px 0 var(--blob-color-1);
  }
  100% {
    box-shadow: 0 0 30px 20px var(--blob-color-1);
  }
} */

.content {
  width: 100%;
  height: 80vmin;
  margin: 1em auto;
  font-size: 20px;
  line-height: 30px;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
    color: #FFF8F0;
  }
}

h1, h2 {
  color: #fed766;
}

h5 {
  font-weight: bold;
}

.carusel-inner img {
  height: 85vmin;
}

.nav-tabs .nav-link.active {
  color: #3d5a80 !important;
}

h5.card-title {
  color: #fed766;
}

.content-contact label {
  color: #fed766;
}

.presentacio {
  width: 100%;
  height: 77vh;
  padding: 0.5rem 1rem 0 0;
}

.presentacio .title > h1 {
  font-family: 'Karla', sans-serif;
  font-size: 10rem;
  margin: 20% 10% 20% 5%;
}

.imatges {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* SCROLLBAR */
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #272727;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #272727;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fed766;
}

/* #section */
/* TIMELINE */
section {
  width: 100%;
}

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 470px;
  padding: 18px;
  background: #fed766;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #fed766 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -500px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #fed766;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: all 0.5s;
}

.timeline ul li.in-view::after {
  background: #fed766;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #fed766 transparent transparent;
  }
}

/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

/* @keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
} */

/* #endregion */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  color:#FFF8F0;
}

.about img {
  width: 50%;
}

.projects {
  height: 30vh;

  margin-top: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects a {
  width: 20rem;

  padding: 1rem;
}

.projects button:hover {
  color: #272727;
}

.contact {
  display: flex;
  flex-direction: column;
  font-family: 'Karla', sans-serif;
}

.contact img {
  justify-self: center;
  height: 70vh;
}

i {
  font-size: 9rem;
  margin-top: -1rem;
}