* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-image: url(./M6/media/background.jpg) no-repeat center;
  background-size: cover;
  background-color: #14213D;
}

h3 {
  font-size: 3em;
  color: #FCA311;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #E5E5E5;
}

a {
  background-color: #E5E5E5;
  border-radius: 12px;
  border: 1px solid #000000;
  color: #FCA311;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


a:hover {
  background-color: #FCA311;
  color: #E5E5E5;
}

input#abrir-cerrar { visibility:hidden; position: absolute; top: -9999px; }

input#abrir-cerrar:checked ~ #sidebar {
  width:300px;
}
input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
  margin-left:300px;
  transition: margin-left .4s;
}
input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar { 
  display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
  display:none;
}