header {
  margin: auto;
  width: 95%;
  height: 8vh;
}

.logo {
  line-height: 3.75em;
  position: fixed;
  float: left;
  margin: 1em 2.875em;
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
  letter-spacing: 0.125em;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 3.75em;
  height: 83px;
}

nav ul {
  line-height: 3.75em;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 2.5em;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 1em 2.5em;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

a,
.nav-link {
  text-decoration: none;
  color: #fff8f0;
}

@media (hover: hover) {
  a:hover,
  .nav-link:hover {
    color: #fed766 !important;
  }
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #fed766;
  font-weight: bold;
}

.collapse.navbar-collapse {
  justify-content: end;
}

@media only screen and (max-width: 992px) {
  header {
    width: 100%;
  }
}