header {
  margin: 0em;
  width: 100%;
  height: 8vh;
}

.logo {
  line-height: 3.75em;
  position: fixed;
  float: left;
  margin: 1em 2.875em;
  color: #fff;
  font-weight: bold;
  font-size: 1.250em;
  letter-spacing: 0.125em;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 3.75em;
}

nav ul {
  line-height: 3.75em;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 2.5em;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 1em 2.5em;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

a,
.nav-link {
  text-decoration: none;
  color: #FFF8F0;
}

a:hover,
.nav-link:hover {
  color: #fed766 !important;
}

@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 1em;
  }

  /* nav ul {
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 1.5em;
    text-align: center;
  } */

  /* .menu-icon {
    display: block;
    color: #FFF8F0;
  } */

  nav {
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    display: list-item;
    height: 16vh;
  }

  .logo {
    display: none;
  } 

  .menu {
    height: 100%;
  }
}