.content {
  height: 73%;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  color: #fff8f0;
}

.carusel-inner img {
  height: 87vmin;
}

#carouselCaptions {
  width: 75%;
  margin: 0 auto; /* Centrar horizontalmente */
}

.col {
  margin-top: 2rem;
  width: 50%;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project .img {
  width: 30%;
  margin: 20px;
  border: 2px solid #fed766;
  border-radius: 1em;
}

@media (hover: hover) {
  .project .img:hover {
    transform: scale(1.05);
  }
}

.project .p-content {
  width: 60%;
}

img {
  width: 100%;
  height: 100%;
}

.p-content {
  padding: 20px 10px;
}

.proj-btn a {
  text-decoration: underline;
}