.content {
  height: 73%;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  margin: 15px 0;
  color: #fff8f0;
  line-height: 1.1em;
}

.carusel-inner img {
  height: 87vmin;
}

#carouselCaptions {
  width: 75%;
  margin: 0 auto; /* Centrar horizontalmente */
}

.col {
  margin: auto;
  width: 50%;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project .img {
  width: 30%;
  margin: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) {
  .project .img:hover {
    transform: scale(1.05);
  }
}

.project .p-content {
  width: 60%;
}

img {
  width: 100%;

  border: 2px solid #fed766;
  border-radius: 1em;
}

.p-content {
  padding: 20px 10px;
}

.proj-btn a {
  text-decoration: underline;
}

@media only screen and (max-width: 900px) {
  .content {
    display: block;
  }

  .col {
    width: 90%;
    margin: 50px 0;
  }

  .project .img {
    width: 90%;
    margin: auto;
  }

  .project .p-content {
    width: 90%;
    margin: auto;
  }

  .proj-title,
  .proj-btn {
    text-align: center;
  }

  footer,
  hr {
    display: none;
  }
}

@media only screen
and (min-width: 768px)
and (max-width: 1024px)
{
  h1{
    font-size: 1.2em;
  }
  p {
    font-size: 0.7em;
  }
  a {
    font-size: 0.8em;
  }
}