.proj-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 80vh;
}

.proj-content {
  height: 70%;
  color: #fff8f0;
  border-radius: 2em;

  display: flex;
  flex-direction: column;
}

.proj-content p {
  font-size: 1.25em;
  margin: 1em 0;
}

.proj-intro > img {
  width: 50%;
  border: 2px solid #fed766;
  border-radius: 2em;
  margin: 2em;
}

.proj-intro .text {
  width: 40%;
  height: 80%;
}

.proj-intro .text .title {
  color: #fed766;
  font-size: 3em;
  font-weight: bold;

  text-align: center;
  font-weight: 500;
}

.proj-content a {
  font-style: italic;
  text-decoration: underline;
}

@media (hover: hover) {
  a:hover {
    color: #fed766 !important;
  }
}

.content {
  background-color: #fff8f0;

  background-image: url("./media/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 90vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.video,
.text, .text0 {
  margin: 3rem;

  display: flex;
  flex-direction: column;

  justify-content: center;

  color: #272727;
}

.text, .text0 {
  width: 40vw;

  text-align: justify;
}

.video > p, .text0 {
  padding: 0.2em;

  background-color: #fff8f0;

  border-radius: 1em;
}

.text img {
  /* filter: grayscale(100%); */
}

.video {
  position: relative;
  width: 640px;
  height: 360px;
}

#myVideo {
  width: 100%;
  height: 100%;
}

.buttons {
  position: absolute;
  top: 25%;
  left: 51%;
  transform: translate(-50%, -50%);

  width: 240px;
  aspect-ratio: 1 / 0.85;
  margin: 50px auto 0px;

  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

#stats {
  grid-area: 2 / 1 / 2 / 3;
}

#stats img {
  height: 1.6em;
}

.buttons button {
  margin: 5px;
}

button {
  background-color: #fff;
  border: 3px solid #272727;
  border-radius: 12px;

  font-weight: 500;
  color: #087ca6;

  box-shadow: 0 4px 8px 0 rgba(8, 124, 166, 0.2),
    0 6px 20px 0 rgba(8, 124, 166, 0.19);
}

button img {
  margin-top: 10px;
  width: 30%;
}

button p {
  font-size: 0.7em;
}

button:hover {
  border: 3px solid #fed766;
}

@media only screen /* and (min-width: 768px) */ and (max-width: 1024px) {
  h1 {
    font-size: 1.2em !important;
  }
  p {
    font-size: 0.7em;
  }
  a {
    font-size: 0.8em;
  }

  .proj-intro {
    display: flex;
    flex-direction: column;

    height: auto;
  }

  .proj-intro > img {
    width: 80%;
  }

  .proj-intro .text {
    width: 80%;
    margin: 0;
  }

  .content {
    display: grid;

    height: auto;
  }

  .videos {
    margin-top: inherit;
    height: inherit;
  }

  .buttons {
    top: 25%;
  }

  .text0 {
    width: 80%;
    justify-self: center;

    padding: 0.2em;

    background-color: #fff8f0;

    border-radius: 1em;
  }

  .text0 p {
      font-size: 1.25em;
      margin: 1em 0;
  }
}
