* {
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
  color: #ded1a9;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #1a3651;
}

.card-body,
ul {
  min-height: 45vh;
}

p,
#taskname {
  font-family: Arial, Helvetica, sans-serif;
}

h2 + p {
  color: #b0b8bf;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: #FFF8F0;
}

#timer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}